/*Master style*/

body {
margin: 0px;
}

.continer{
    display: grid;
    grid-template-columns: 1fr;/*fractional unit*/
}

/* Navigation style*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side{
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size:0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color:#8a8a8a;
    text-decoration:none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}


.nav-link-wrapper a:hover{
    color: black;
}

/*portfolio styles*/

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.portfolio-item-wrapper
{
    position: relative;

}

.portfolio-img-background{
    height: 300px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: 100%;
    text-align: center;
    padding-left:100px;
    padding-right:100px; 
}
.logo-wrapper img{
    width: 50%;
    margin-bottom:20px;
}
/*Needs to be more specfic with selector*/
.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color:lightseagreen;
}
.img-text-wrapper .subtitle{
  transition: 1s;
  font-weight: 600;
  color: transparent;

}


.img-darken{
    transition: 1s;
    filter:brightness(10%);
}